#$ vendor/bin/phpstan analyze

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - inc/
        - plugin.php
    excludePaths:
        analyseAndScan:
            - inc/wptt-webfont-loader/wptt-webfont-loader/
        analyse:
            - vendor/
            # "/wp-content/" is created during composer install,
            # when package is tested
            # and not running within ft-platform
            - wp-content/
            - tests/
    # @todo #26 Find a nicer way instead of ignoring this Error on every ft-module
    ignoreErrors:
        - '#Function Altis\\register_module not found\.#'
        - '#Function Figuren_Theater\\get_config not found\.#'
